@use '../../App.scss' as app;

$decorationContHeight : 80px;

.Container {



    margin: 0;
    padding: 0;
    display: block;
    background-color: app.$lightBg;
    height: 100vh;
    width: 100%;
    @include app.lightGlow;

    h1 {
        margin: 0;
    }

    @media only screen and (min-width: 601px) {
        min-height: 100vh;
        overflow: visible;
        .gridCont {
            padding: 1rem 0 1rem 0;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            justify-items: center;
            height: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        .gridCont {
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            height: 100%;
        }
    }

    #decorationCont {
        @include app.flexCenter;
        height: $decorationContHeight;
        .decoration{
        width: 30px;
        height: 2px;
        background-color: silver;
        }
    }
    
    
}