@use '../../App.scss' as app;

$decorationContHeight : 80px;

.Container {
    margin: 0;
    padding: 0;
    background-color: app.$lightBg;
    width: 100%;
    @include app.lightGlow;
    h1 {
        margin: 0;
    }
    @media only screen and (max-width: app.$breakpointMobile) {
        overflow: visible;
        .gridCont {
            display: flex;
            padding: 20px 0 1rem 0;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
            overflow: visible;
            min-height: 100vh;
        }
    }

    @media only screen and (min-width: app.$breakpointDesktop) {
        .gridCont {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            min-height: 100vh;
        }
    }

    #decorationCont {
        @include app.flexCenter;
        height: $decorationContHeight;
        .decoration{
        width: 30px;
        height: 2px;
        background-color: silver;
        }
    }
    
    
}