@use '../../App.scss' as app;

$decorationContHeight : 80px;

.Container {
    margin: 0;
    padding: 0;
    display: block;
    background-color: app.$lightBg;
    height: 100vh;
    width: 100%;
    @include app.lightGlow;

    h1 {
        margin: 0;
    }

    .gridCont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: calc(100% - $decorationContHeight)
    }
    #decorationCont {
        @include app.flexCenter;
        height: $decorationContHeight;
        .decoration{
        width: 30px;
        height: 2px;
        background-color: silver;
        }
    }
    
    
}