@use '../../App.scss' as app;
@use '../Nav/Nav.module.scss' as nav;

$radialMenuHeight : 160px;
$liWidth : 40px;
$liHeight : 40px;
$ulRotate : 0deg;

.RadialMenuCont {
    position: sticky;
    top: 0;
    z-index: 10;
    .ListContainer {
        ul {
            @include app.flexCenter;
            gap: 10px;
            margin: 0;
            li {
                width: fit-content;
                position: relative;
                height: $liHeight;
                list-style: none;
                padding: 1rem;
                border: app.$primaryBorderRadius solid app.$primaryElement;
                border-width: 0 0 0.5px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: app.$lightBg;
                cursor:pointer;
                div {
                    display: none;
                }
                &:hover {
                    img {
                       filter: invert(0.5) sepia(1) saturate(5) hue-rotate(10deg);
                    }
                    div {
                        display: block;
                        user-select: none;
                    }
                    
                }
                img {
                    width: $liWidth;
                    height: $liHeight;
                    color: green;
                    filter: invert(1);
                }
                .active {
                    padding-top: 1rem;
                }

            }
        }
    }
}

