@use '../MusicPlayer/MusicPlayer.module.scss' as MP;
@use '../../App.scss' as app;

.SeekSVG {
    width: calc(MP.$ppWidth * 0.9);
    height: calc(MP.$ppHeight * 0.9);
    margin: 10px;

    svg {
        &:active {
            fill: app.$lightElement_active;
        }
        
    }
}

#forward {
    &:hover {
        transform: scale(1.3);
    }
}

#backward {
    transform: rotate(180deg);
    &:hover {
        transform: rotate(180deg) scale(1.3);
    }
}